.header {
  padding: 20px;
  text-align: center;
  background: #e41021;
  color: white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

/*paginação*/

.menu-nav__pages {
  display: inline-block;
  padding: 0;
}

ul.menu-nav__pages li {
  display: inline;
  cursor: pointer;
}

ul.menu-nav__pages li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

ul.menu-nav__pages li a.menu-nav__pages--active {
  background-color: #e41021;
  color: white;
  border: 1px solid #e41021;
}

ul.menu-nav__pages li a:hover:not(.menu-nav__pages--active) {
  background-color: #ddd;
}

.menu-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 30px;
}

ul.menu-nav__pages .seletor-pag-atual {
  background-color: #e41021;
  color: #ffffff;
}

/*botao de pesquisa*/

.button-search {
  z-index: 2;
  float: right;
  position: fixed;
  top: 75px;
  left: 15px;
  background-color: #333;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

.button-search:hover>.caixa-texto {
  z-index: 2;
  width: 240px;
  padding: 0 6px;
  cursor: text;
}

.button-search:hover>.button-search__img {
  background-color: #ffffff;
  margin-left: 3px;
  cursor: pointer;
}

.button-search input:focus {
  z-index: 2;
  width: 240px;
  padding: 0 6px;
  cursor: text;
}

.button-search__img {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333333;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  transition: 0.4s;
  border-color: transparent;
}

.caixa-texto {
  border: none;
  background-color: #333333;
  outline: none;
  float: right;
  padding: 0;
  color: #ffffff;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  cursor: text;
}

/* remover setas do number - Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* remover setas do number - Firefox */

input[type=number] {
  -moz-appearance: textfield;
}

/*button-home*/

.button-home {
  z-index: 2;
  display: inline-block;
  position: fixed;
  top: 150px;
  left: 15px;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  background-color: #333333;
}

.button-home__img {
  display: inline-block;
  position: fixed;
  top: 160px;
  left: 25px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333333;
}

.button-home__img img {
  position: fixed;
  top: 170px;
  left: 35px;
}

.button-home__img:hover {
  background-color: #ffffff;
}

/*Área dos cards*/

.container {
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  margin: 10px;
  vertical-align: middle;
}

/*Card*/

/*Imagem e infos*/

.card {
  width: 300px;
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px 0px;
  grid-template-areas: "image" "text" "stats" "link";
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: center;
  transition: 0.5s ease;
  cursor: pointer;
  margin: 30px;
  color: inherit;
  text-decoration: inherit;
  text-decoration-color: transparent;
}

.card-link {
}

.card__img {
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  image-rendering: optimizeSpeed;
  align-items: center;
}

.card__img img {
  width: 180px;
  height: 180px;
}

.card__text {
  grid-area: text;
  margin-top: 30px;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.card__text .date {
  color: #e41021;
  font-size: 13px;
}

.card__text p {
  color: grey;
  font-size: 15px;
  font-weight: 300;
}

.card__text h2 {
  margin-top: 0px;
  font-size: 28px;
}

/*
------------------
- Área de status -
------------------
*/

/*
Elaborar um retorno com condições para então trabalhar com classes e
fazer uma barra de progresso alterando as cores de cinza para vermelho
*/

.card__status {
  grid-area: stats;
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #e41021;
}

.card__status .stat {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.card__status .border {
  border-left: 1px solid #adabab;
  border-right: 1px solid #adabab;
}

.card__status .status {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18;
  font-weight: 500;
}

.card-status-txt {
  font-size: 18;
  font-weight: 500;
  margin: 5px auto;
}

.card__status--incompleto {
  grid-area: stats;
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #ddd;
}

.card__status--incompleto .stat {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.card__status--incompleto .border {
  border-left: 1px solid #adabab;
  border-right: 1px solid #adabab;
}

.card__status--incompleto .status {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18;
  font-weight: 500;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

/*Barra de navegação lateral*/

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #707070;
}